<%- include("./header.html") %>
<div class="wrapper">

    <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="margin-left:0px;!important;">
<!--        <ul class="navbar-nav" id="my-nav">-->
<!--            <li class="nav-item"><a class="nav-link" href="#" role="button"><i class="fas fa-bars"></i></a></li>-->
<!--            <li class="nav-item d-none d-sm-inline-block"><a href="all_article" class="nav-link">All Articles</a></li>-->
<!--            <li class="nav-item d-none d-sm-inline-block"><a href="list_article" class="nav-link">My Articles</a></li>-->
<!--            <li class="nav-item d-none d-sm-inline-block"><a href="post_article" class="nav-link">New</a></li>-->
<!--            <li class="nav-item d-none d-sm-inline-block"><a href="list_collect" class="nav-link">My Collect</a></li>-->
<!--        </ul>-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-toggle="dropdown" href="#">-->
<!--                    <i class="far fa-sign-out" class="logout" onclick="logout()">logout</i>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
    </nav>

    <section class="content">
        <div class="container-fluid">
            <div class="row" style="margin-top: 20px">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Edit Article </h3>
                        </div>

                        <div class="card-body">
                            <div>
                                <div class="form-group">
                                    <label>title</label>
                                    <input type="text" class="form-control" id="title" placeholder="title" style="width: 200px" required value="<%= info[0].title %>">
                                </div>
                                <div class="form-group">
                                    <label>description</label>
                                    <input type="text" class="form-control" id="description" placeholder="description" style="width: 200px" required value="<%= info[0].description %>">
                                </div>
                                <div class="form-group">
                                    <label>content</label>
                                    <textarea name="content" id="content" class="form-control" cols="30" rows="10"><%= info[0].content %></textarea>
                                </div>
                                <button type="button" class="btn btn-primary" onclick="saveArticle($(this))" data-aid="<%= info[0]._id %>">Save</button>
                            </div>
                        </div>
                        <div class="card-footer" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include("./footer.html") %>